body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 50px auto;
}

li {
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.done {
    text-decoration: line-through;
    color: red;
}

button {
    margin-left: 10px;
}
